
@{
    ViewBag.Title = "幼儿园专栏";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style type="text/css">
   

    .item {
        margin-left: 8%;
        padding-top: 2%;
        display: inline;
        float: left;
        width: 400px;
    }
</style>





<div id="listOrgLeft">

    <div class="item">
        <a href="http://www.yejychina.com/" target="_blank">幼儿在线</a>

    </div>
    <div class="item">
        <a href="http://www.reading-china.com/tuiguang/?pc-1" target="_blank">儿童英语教育</a>

    </div>
    <div class="item">
        <a href="http://www.yejs.com.cn/" target="_blank">幼儿教师网</a>

    </div>
    <div class="item">
        <a href="http://www.jy135.com/html/tongyantongyu/xuelingqian/" target="_blank">婴儿教育网</a>

    </div>


</div>


