
@{
    ViewBag.Title = "初中专栏";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<style type="text/css">
    .item {
        margin-left: 8%;
        padding-top: 2%;
        display: inline;
        float: left;
        width: 400px;
    }
</style>





<div id="listOrgLeft">
    <div class="item">
        <a href="http://middle.school.zxxk.com/" target="_blank">初中学科网</a>

    </div>
    @*<div class="item">
        <a href="http://www.juren.com/" target="_blank">学科网</a>

    </div>
    <div class="item">
        <a href="http://www.juren.com/" target="_blank">学科网</a>

    </div>
    <div class="item">
        <a href="http://www.juren.com/" target="_blank">学科网</a>

    </div>*@

</div>