
@{
    ViewBag.Title = "小学生专栏";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<style type="text/css">
    .item {
        margin-left: 8%;
        padding-top: 2%;
        display: inline;
        float: left;
        width: 400px;
    }
</style>





<div id="listOrgLeft">
    <div class="item">
        <a href="http://www.xuekeedu.com/" target="_blank">小学学科网</a>

    </div>
    <div class="item">
        <a href="http://www.xueda.com/xiaoxue/" target="_blank">小学学大教育</a>

    </div>
    <div class="item">
        <a href="http://www.gaosiedu.com/" target="_blank">高思教育</a>

    </div>
    <div class="item">
        <a href="http://www.youcaiedu.com/" target="_blank">优才教育</a>

    </div>

</div>
