

ul,li,ol {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
a,img,input,button,textarea {
    -webkit-touch-callout: none;
}

a:focus,a:active,a:hover,input,button,textarea {
    outline: 0;
}



.tc {
    text-align: center;
}

.r {
    float: right;
}

.l {
    float: left;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    background-color: #F4F4F4;
}
.inner {
    margin: .75rem .5rem 0;
}
.bg-white {
    background-color: #fff;
    border: 1px solid #E1E5F0;
    border-width: 1px 0;
    margin-bottom: 10px;
}


.title-box {
    line-height: 44px;
    margin-top: -0.5rem;
    font-size: 0;
    height: 44px;
}
.title-box .title-img {
    width: 14px;
    height: 14px;
    display: inline-block;
    padding: 0 5px;
}
.title-box .title {
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
}
.title-box .change
, .more {
    color: #9B9B9B;
    font-size: 1.4rem;
    float: right;
    font-weight: normal;
}
.hot-list {
    font-size: 0;
    margin: 0px .3rem 18px;
}
.hot-list ul {
    overflow: hidden;
}
.hot-list li {
    width: 50%;
    float: left;
    font-size: 1.5rem;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
}
.hot-list li:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    border: 0;
    background-color: #535252;
    vertical-align: middle;
    margin: 0 4px;
}


.tab-box .tab-cnt {
    display: none;
}
.tab-box .tab-cnt.on {
    display: block;
}


.v-head {
    overflow: hidden;
    margin: 0 -0.5rem;
    position: relative;
}

.v-head img {
    width: 100%;
    height: auto;
}
.v-head .text {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 1.4rem;
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0,.6));
    height: 36px;
    width: 100%;
    line-height: 42px;
    overflow: hidden;
    margin-top: -36px;
}
.v-head .text span {
    padding: 0 5px;
}

.v-list {
    margin: 0.5rem -0.25rem;
    border-bottom: 1px solid #E1E5F0;
    padding-bottom: 6px;
    overflow: hidden;
}
.v-list li {
    width: 50%;
    float: left;
    padding: 0 0.25rem;
    margin-bottom: 8px;
    vertical-align: top;
}
.v-list li a {
    position: relative;
    display: block;
}
.v-list li img {
    width: 100%;
    height: auto;
}
.v-list li .v-t {
    font-size: 1.4rem;
    display: block;
    line-height: 18px;
    padding: 0 4px;
    margin-top: 6px;
    height: 18px;
    overflow: hidden;
}

.v-list li .v-des {
    font-size: 1.2rem;
    display: block;
    line-height: 16px;
    padding: 0 4px;
    color: #999;
}
.v-dh {
    border-top: 1px solid #e1e5ef;
    overflow: hidden;
    margin: 0 -0.5rem;
}
.v-dh li {
    line-height: 40px;
    width: 25%;
    float: left;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}
.v-dh li a {
    color: #0099ff;
    display: block;
}
.v-dh li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 20px;
    border: 0;
    background-color: #e1e5ef;
}
.v-dh li:last-child:after {
    display: none;
}



.h4-t {
    font-size: 1.6rem;
    line-height: 30px;
    margin: 8px 0;
    font-weight: normal;
}
.h4-t:before {
    content: '';
    display: inline-block;
    background-color: #49B5FE;
    width: 2px;
    height: 22px;
    margin: 0px 5px -5px;
}


.v-dh5 li {
    width: 20%;
}
.joke-ttl {
    line-height: 24px;
    margin: 0 5px;
    color: #444;
}
.joke-text {
    margin: 5px 5px 16px;
    font-size: 1.5rem;
}


.mt12 {
    margin-top: 12px;
}
.text-bold {
    font-weight: bold;
}

