
@{
    ViewBag.Title = "认证培训机";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style type="text/css">
    img{
        width: 90px;
        height: 127px;
        padding-right: 2%;
       
      

}
    .item {
        margin-left: 8%;
        padding-top: 2%;
        display: inline;
        float: left;
        width: 400px;

    }

</style>


<div id="listOrgLeft">
    <div class="item">
        <a href="http://www.juren.com/" target="_blank"><img src="~/Node/src/img/org/jr.jpg" alt="巨人教育" style="float: left;"/></a><h4><a href="http://www.juren.com/" target="_blank">巨人教育</a></h4>电话：400-888-3456<br>邮箱：president@juren.com<br>地址：北京市 海淀区 水磨西街64号
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.webi.com.cn/index.aspx" target="_blank"><img src="~/Node/src/img/org/wb.jpg" alt="韦博英语" style="float: left;"/></a><h4><a href="http://www.webi.com.cn/index.aspx" target="_blank">韦博英语</a></h4>电话1：400-920-9796<br>电话2：400-920-9796<br>地址：朝阳区东三环中路建外SOHO B座1楼104室
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://ef.5aixue.com.cn/index.shtml" target="_blank"><img src="~/Node/src/img/org/yf.jpg" alt="英孚英语" style="float: left;"/></a><h4><a href="http://ef.5aixue.com.cn/index.shtml" target="_blank">英孚教育</a></h4>电话：400-801-8717<br>QQ 1637537806<br>地址：北京市海淀中关村中心 
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.wsi.com.cn/cn/index.html" target="_blank"><img src="~/Node/src/img/org/hej.jpg" alt="华尔街英语" style="float: left;"/></a><h4><a href="http://www.wsi.com.cn/cn/index.html" target="_blank">华尔街英语</a></h4>电话：021-38804666<br>邮编：200121<br>地址：上海市浦东新区世纪大道88层金茂大厦3层
        <div class="kw"></div>
    </div>

</div>


