
@{
    ViewBag.Title = "认证培训机";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style type="text/css">
    img{
        width: 90px;
        height: 127px;
        padding-right: 2%;
       
      

}
    .item {
        margin-left: 8%;
        padding-top: 2%;
        display: inline;
        float: left;
        width: 400px;

    }

</style>


<div id="listOrgLeft">
    <div class="item">
        <a href="http://www.juren.com/" target="_blank"><img src="~/Node/src/img/org/jr.jpg" alt="巨人教育" style="float: left;"/></a><h4><a href="http://www.juren.com/" target="_blank">巨人教育</a></h4>电话：400-888-3456<br>邮箱：president@juren.com<br>地址：北京市 海淀区 水磨西街64号
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.webi.com.cn/index.aspx" target="_blank"><img src="~/Node/src/img/org/wb.jpg" alt="韦博英语" style="float: left;"/></a><h4><a href="http://www.webi.com.cn/index.aspx" target="_blank">韦博英语</a></h4>电话：010-52860582<br>邮编：100083<br>地址：北京市海淀区成府路45号
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.ef.com.cn/englishfirst/ppc/brandzonedetail?ctr=cn&lng=cs&ptn=cnbd&etag=EFCN_baiduBZ_-2c2ac13dc81b4697aa55a29e21f52a43-Title-ppc-&ps=y" target="_blank"><img src="~/Node/src/img/org/yf.jpg" alt="英孚英语" style="float: left;"/></a><h4><a href="http://www.ef.com.cn/englishfirst/ppc/brandzonedetail?ctr=cn&lng=cs&ptn=cnbd&etag=EFCN_baiduBZ_-2c2ac13dc81b4697aa55a29e21f52a43-Title-ppc-&ps=y" target="_blank">能分优国际英语-英语培训机构</a></h4>电话：010-52860582<br>邮编：100083<br>地址：北京市海淀区成府路45号
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.ruyile.com/school/r274363/" target="_blank"><img src="http://img.ruyile.com/jy_img/2/324/209cu.jpg" alt="能分优国际英语-英语培训机构" style="float: left;"/></a><h4><a href="http://www.ruyile.com/school/r274363/" target="_blank">能分优国际英语-英语培训机构</a></h4>电话：010-52860582<br>邮编：100083<br>地址：北京市海淀区成府路45号
        <div class="kw"></div>
    </div>

</div>


