
@{
    ViewBag.Title = "名校大全";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style type="text/css">
    img {
        width: 180px;
        height: 127px;
        padding-right: 2%;
    }

    .item {
        margin-left: 8%;
        padding-top: 2%;
        display: inline;
        float: left;
        width: 400px;
    }
</style>


<div id="listOrgLeft">
    <div class="item">
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank"><img src="~/Node/src/img/org/qh.png" alt="清华大学" style="float: left;" /></a><h4><a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a></h4>电话：010-62793001<br>邮箱：webmaster@tsinghua.edu.cn<br>地址：北京市海淀区清华大学
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.pku.edu.cn/" target="_blank"><img src="~/Node/src/img/org/bd.png" alt="北京大学" style="float: left; background-color: #8F000B" /></a><h4><a href="http://www.pku.edu.cn/" target="_blank">北京大学</a></h4>电话：010-62751407<br>邮箱：webmaster@pku.edu.cn<br>地址：北京市海淀区颐和园路5号
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.fudan.edu.cn/index.html" target="_blank"><img src="~/Node/src/img/org/fudan.png" alt="复旦大学" style="float: left;" /></a><h4><a href="http://www.fudan.edu.cn/index.html" target="_blank">复旦大学</a></h4>电话：021-65642222 <br>邮编：200433 <br>地址：上海市杨浦区邯郸路220
        <div class="kw"></div>
    </div>
    <div class="item">
        <a href="http://www.ruc.edu.cn/" target="_blank"><img src="~/Node/src/img/org/rd.png" alt="人民大学" style="float: left;" /></a><h4><a href="http://www.ruc.edu.cn/" target="_blank">人民大学</a></h4>电话：400-0123-517<br>邮箱：web@ruc.edu.cn<br>地址：北京市海淀区中关村大街59号
        <div class="kw"></div>
    </div>

</div>


