
@{
    ViewBag.Title = "名校大全";
    Layout = "~/Views/Shared/_LayoutGoodUi.cshtml";
}

<div style="margin-left: 10%">
    <div class="placeholder"></div>
    <section class="container">
        <div class="content-wrap">
            <div class="content">
               
                <article class="excerpt">
                    <div class="focus">
                        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" class="thumbnail" target="_blank">
                            <img src="~/Node/src/img/org/qh.png" alt="清华大学" data-bd-imgshare-binded="1">
                        </a>
                    </div>
                    <header>
                        <h2>
                            <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" title="清华大学" target="_blank">清华大学</a>
                        </h2>
                    </header>
                    <p class="note">
                       电话：010-62793001<br>邮箱：webmaster@tsinghua.edu.cn<br>地址：北京市海淀区清华大学
                    </p>

                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a href="http://www.pku.edu.cn/" class="thumbnail" target="_blank">
                            <img src="~/Node/src/img/org/bd.png"  style="background-color: #8F000B" alt="北京大学" data-bd-imgshare-binded="1">
                        </a>
                    </div>
                    <header>
                        <h2>
                            <a href="http://www.pku.edu.cn/" title="北京大学" target="_blank">北京大学</a>
                        </h2>
                    </header>
                    <p class="note">
                        电话：010-62751407<br>邮箱：webmaster@pku.edu.cn<br>地址：北京市海淀区颐和园路5号
                    </p>

                </article>

                <article class="excerpt">
                    <div class="focus">
                        <a href="http://www.fudan.edu.cn/index.html" class="thumbnail" target="_blank">
                            <img src="~/Node/src/img/org/fudan.png" alt="复旦大学" data-bd-imgshare-binded="1">
                        </a>
                    </div>
                    <header>
                        <h2>
                            <a href="http://www.fudan.edu.cn/index.html" title="复旦大学" target="_blank">复旦大学</a>
                        </h2>
                    </header>
                    <p class="note">
                        电话：021-65642222 <br>邮编：200433 <br>地址：上海市杨浦区邯郸路220
                    </p>

                </article>

                <article class="excerpt">
                    <div class="focus">
                        <a href="http://www.ruc.edu.cn/" class="thumbnail" target="_blank">
                            <img src="~/Node/src/img/org/rd.png" alt="人民大学" data-bd-imgshare-binded="1">
                        </a>
                    </div>
                    <header>
                        <h2>
                            <a href="http://www.ruc.edu.cn/" title="人民大学" target="_blank">人民大学</a>
                        </h2>
                    </header>
                    <p class="note">
                        电话：400-0123-517<br>邮箱：web@ruc.edu.cn<br>地址：北京市海淀区中关村大街59号
                    </p>

                </article>
            </div>
        </div>

    </section>
  

</div>


