@{
    ViewBag.Title = "Home Page";
}

@*<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>*@
<script src="~/Scripts/jweixin-1.0.0.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<input type="button" id="btnset" value="点击设置"/>*@

<div id="content"></div>
<div class="jumbotron">
    <h1>欢迎您</h1>
    @*<p class="lead">希望下面的工具能帮到您</p>*@
   
</div>
@*<form action="http://www.baidu.com/baidu" target="_blank">
    <div align="center">
        <input name=tn type=hidden value=baidu>
        <a href="http://www.baidu.com/">
            <img src="http://img.baidu.com/search/img/baidulogo_clarity_80_29.gif" alt="Baidu" align="bottom" border="0">
        </a>
        <input type=text name=word size=30>
        <input type="submit" value="百度搜索">
    </div>
</form>*@
@*<a>地址</a>
@ViewBag.Url
<a>签名</a>
@ViewBag.Name*@



<form action="https://www.baidu.com/baidu" target="_blank">
    <div align="center">
        <table style="background-color: #FFFFFF">
            <tr>
                <td>
                    <input name=tn type="hidden">
                    <a href="https://www.baidu.com/"> <img src="~/Static/Img/baidu.gif" alt="Baidu" align="bottom" border="0"/>
                       </a>
                    <input type=text name=word size=30>
                    <input type="submit" value="百度搜索">
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="row">

    <div class="col-md-4">
        <h2>音标点读</h2>
        <p>
            <a href="/Home/Read" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>二维码生成</h2>
        <p><a href="/Home/MTCode/" class="btn btn-primary btn-lg">去生成</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>安卓学习</h2>
        <p><a href="http://www.runoob.com/w3cnote/android-tutorial-intro.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>c#学习</h2>
        <p><a href="http://www.runoob.com/csharp/csharp-tutorial.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>java学习</h2>
        <p><a href="http://www.runoob.com/java/java-tutorial.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>

</div>


<script type="text/javascript">
    $(function () {
        //alert(location.href.split('#')[0])
        var myAuto = document.getElementById('audio');
        myAuto.play();

    })
    //document.addEventListener('touchstart', function () {
    //    audio.play();
    //}, false);

</script>

<script>


    wx.config(@Html.Raw(ViewBag.config));
    wx.ready(function() {
       
        wx.onMenuShareAppMessage({
            title: '欢迎您',
            desc: '欢迎您使用工具。',
            link: 'https://www.our666.com/Home/Index/?from=singlemessage&isappinstalled=0', // 分享链接
            imgUrl: 'http://pic4.mofangge.com/upload/other/201706/12/b3810addd0e84de3a6d2af3d2dfb7f3e.jpg', // 分享图标
              
            success: function(res) {
                //alert('已分享');
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("信息"+JSON.stringify(res));
            }
        });

        wx.onMenuShareTimeline({
            title: '欢迎您',
            desc: '欢迎您使用工具。',
            link: 'https://www.our666.com/Home/Index/?from=timeline&isappinstalled=0', // 分享链接
            imgUrl: 'http://pic4.mofangge.com/upload/other/201706/12/b3810addd0e84de3a6d2af3d2dfb7f3e.jpg', // 分享图标
               
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("朋友圈"+JSON.stringify(res));
            }
        });


        wx.onMenuShareQQ({
            title: '欢迎您',
            desc: '欢迎您使用工具。',
            link: 'http://www.our666.com/', // 分享链接
            imgUrl: 'http://pic4.mofangge.com/upload/other/201706/12/b3810addd0e84de3a6d2af3d2dfb7f3e.jpg', // 分享图标
               
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("qq" + JSON.stringify(res));
            }
        });

    });
    wx.error(function(res) {

        //alert("接口验证失败，详细信息：\n" + JSON.stringify(res));

    });




  

</script>