@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>欢迎您</h1>
    @*<p class="lead">希望下面的工具能帮到您</p>*@
   
</div>
@*<form action="http://www.baidu.com/baidu" target="_blank">
    <div align="center">
        <input name=tn type=hidden value=baidu>
        <a href="http://www.baidu.com/">
            <img src="http://img.baidu.com/search/img/baidulogo_clarity_80_29.gif" alt="Baidu" align="bottom" border="0">
        </a>
        <input type=text name=word size=30>
        <input type="submit" value="百度搜索">
    </div>
</form>*@

<form action="https://www.baidu.com/baidu" target="_blank">
    <div align="center">
        <table style="background-color: #FFFFFF">
            <tr>
                <td>
                    <input name=tn type="hidden">
                    <a href="https://www.baidu.com/"> <img src="~/Static/Img/baidu.gif" alt="Baidu" align="bottom" border="0"/>
                       </a>
                    <input type=text name=word size=30>
                    <input type="submit" value="百度搜索">
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="row">

    <div class="col-md-4">
        <h2>音标点读</h2>
        <p>
            <a href="/Home/Read" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>二维码生成</h2>
        <p><a href="~/Tool/TCode/MTCode.html" class="btn btn-primary btn-lg">去生成</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>安卓学习</h2>
        <p><a href="http://www.runoob.com/w3cnote/android-tutorial-intro.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>c#学习</h2>
        <p><a href="http://www.runoob.com/csharp/csharp-tutorial.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>java学习</h2>
        <p><a href="http://www.runoob.com/java/java-tutorial.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        var myAuto = document.getElementById('audio');
        myAuto.play();

    })
    //document.addEventListener('touchstart', function () {
    //    audio.play();
    //}, false);

</script>