@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>欢迎您</h1>
    <p class="lead">希望下面的工具希望能帮到您</p>
   
</div>

<div class="row">

    <div class="col-md-4">
        <h2>音标点读</h2>
        <p>
            <a href="/Home/Read" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>二维码生成</h2>
        <p><a href="~/Tool/TCode/MTCode.html" class="btn btn-primary btn-lg">去生成</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>安卓学习</h2>
        <p><a href="http://www.runoob.com/w3cnote/android-tutorial-intro.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>c#学习</h2>
        <p><a href="http://www.runoob.com/csharp/csharp-tutorial.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>java学习</h2>
        <p><a href="http://www.runoob.com/java/java-tutorial.html" class="btn btn-primary btn-lg">去学习</a>
        </p>
    </div>

</div>