
@{
    ViewBag.Title = "音标学习";
   
}


<div style="height: 100%; width: 100%">
    <a class="button button-link button-nav pull-left back" href="/Home/Index">
        <span class="icon icon-left"></span>
        返回
    </a>
    <br />
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <p class="lead">点读下面的音标发音</p>
    <div style="width: 1000px; height: 600px; background-color: #C7EDCC">
        <div >
            <img src="~/Img/2_03.jpg"/>
            <div>
                <img src="~/Img/2_09.jpg" /> </div></div>


    </div>
    
</div>


