@{
    ViewBag.Title = "our666";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style type="text/css">
    .video {
        border: 1px;
        border-color: #FCA300;
        border-style: inset;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div>
    <div id="div" style="height:100%;width:100%">
     
        <img src="~/Img/music/cxy.jpg" style="width: 100%;height: 100%" id="imgM" />
        <audio id="m1">
            
            <source src="" type="audio/mpeg" id="s2">
            <embed height="0" width="0" src="" id="s3">
        </audio>

    </div>
  
    @*<img src="~/Img/logo/2wm.jpg" style="float: right; width: 20%;height: 20%">*@
   


</div>
<script>
        $(function() {
            Read();




            //$('html').on('click', function() {
            //    Read();
            //});
            document.addEventListener('touchstart', function () {
                Read();
            }, false);

            //$("#imgM").on("click", function () {
            //    alert("hello");
            //    Read();
            //});


        });





        function Read() {

            var zhText = encodeURI("程序员是伟大的职业，祝所有程序员节日快乐");

            let m = document.getElementById('m1');
            //m.src = "https://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&spd=2&text=" + zhText + "";
            $("#s2,#s3").attr("src", "https://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&spd=2&text=" + zhText + "");
            m.playbackRate = 2;

            m.load(); //加载
            m.play(); //播放

        }
</script>
<script type="text/javascript" language="javascript">


function iFrameHeight() {
var ifm= document.getElementById("iframepage");
var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
if(ifm != null && subWeb != null) {
   ifm.height = subWeb.body.scrollHeight;
   ifm.width = subWeb.body.scrollWidth;
}
}
</script>
<script src="~/Scripts/jweixin-1.0.0.js"></script>
<script>


    wx.config(@Html.Raw(ViewBag.config));
    wx.ready(function () {
        Read();

        wx.onMenuShareAppMessage({
            title: '程序员的节日',
            desc: '祝福程序员',
            link: 'https://www.our666.com/Home/Wish/?from=singlemessage&isappinstalled=0', // 分享链接
            imgUrl: 'https://www.our666.com/Img/music/cxy.jpg', // 分享图标

            success: function(res) {
                //alert('已分享');
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("信息"+JSON.stringify(res));
            }
        });

        wx.onMenuShareTimeline({
            title: '程序员的节日',
            desc: '祝福程序员',
            link: 'https://www.our666.com/Home/Wish/?from=timeline&isappinstalled=0', // 分享链接
            imgUrl: 'https://www.our666.com/Img/music/cxy.jpg', // 分享图标

            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("朋友圈"+JSON.stringify(res));
            }
        });


        wx.onMenuShareQQ({
            title: '程序员的节日',
            desc: '祝福程序员',
            link: 'https://www.our666.com/Home/Wish/?from=singlemessage&isappinstalled=1', // 分享链接
            imgUrl: 'https://www.our666.com/Img/music/cxy.jpg', // 分享图标

            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("qq" + JSON.stringify(res));
            }
        });

    });
    wx.error(function(res) {

        //alert("接口验证失败，详细信息：\n" + JSON.stringify(res));

    });






</script>