@{
    ViewBag.Title = "our666";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<!-- 百度地图 -->
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=nzFoGveaumomu2CtVlAlME5eLtoycEfy"></script>
<style type="text/css">
    .video {
        border: 1px;
        border-color: #FCA300;
        border-style: inset;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jweixin-1.0.0.js"></script>
<script>


    wx.config(@Html.Raw(ViewBag.config));
    wx.ready(function () {
        wx.onMenuShareAppMessage({
            title: '获取你当前的地理位置',
            desc: '获取你当前的地理位置，通过百度地图的接口调用',
            link: 'https://www.our666.com/Card/Index/?from=singlemessage&isappinstalled=0', // 分享链接


            imgUrl: 'https://www.our666.com/Img/music/bddt.jpg', // 分享图标

            success: function(res) {
                //alert('已分享');
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("信息"+JSON.stringify(res));
            }
        });

        wx.onMenuShareTimeline({
            title: '获取你当前的地理位置',
            desc: '获取你当前的地理位置，通过百度地图的接口调用',
            link: 'https://www.our666.com/Card/Index/?from=timeline&isappinstalled=0', // 分享链接

            imgUrl: 'https://www.our666.com/Img/music/bddt.jpg', // 分享图标
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("朋友圈"+JSON.stringify(res));
            }
        });


        wx.onMenuShareQQ({
            title: '获取你当前的地理位置',
            desc: '获取你当前的地理位置，通过百度地图的接口调用',
            link: 'https://www.our666.com/Card/Index/?from=singlemessage&isappinstalled=0', // 分享链接
            imgUrl: 'https://www.our666.com/Img/music/bddt.jpg', // 分享图标

            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {

                alert("qq" + JSON.stringify(res));
            }
        });

    });
    wx.error(function(res) {

       alert("接口验证失败，详细信息：\n" + JSON.stringify(res));

    });






</script>
<div>
    <label for="" id="ssx"></label>

    @*<img src="~/Img/logo/2wm.jpg" style="float: right; width: 20%;height: 20%">*@



</div>
<script>
        //获取地里位置 Start
        $(function() {
            $("#ssx").html("正在获取您的位置...");
            var geolocation = new BMap.Geolocation();
            var gc = new BMap.Geocoder();

            geolocation.getCurrentPosition(function(r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    //appLat = r.point.lat;
                    //appLng = r.point.lng;

                    var pt = r.point;
                    gc.getLocation(pt, function(rs) {
                        var addComp = rs.addressComponents;

                        var province = addComp.province;
                        var city = addComp.city;
                        var area = addComp.district;

                        if (province != "" && city != "" && area != "") {
                           // $("#demo1").val(province + " " + city + " " + area);
                            $("#ssx").html(province + " " + city + " " + area);

                        } else {

                            alert("没获取到信息");

                        }
                        var locName = "" + province + "-" + city + "-" + area + "";
                       

                        $.ajax({
                            type: 'post',
                            url: '/Card/InsertLoctInfo', dataType: 'json',
                            data: { locInfo: encodeURI(locName) },
                            success: function (data) {
                                //if (data && data.Data > 0) {

                                //} else {
                                //    alert('提交失败');
                                //}
                            }
                        });

                        



                    

                       
                      
                    });
                } else {
                    layer.open({
                        content: "定位失败，请重试!",
                        time: 2
                    });
                }
            }, {
                enableHighAccuracy: true
            });
        });
        //获取地里位置 End
</script>
<script type="text/javascript" language="javascript">


function iFrameHeight() {
var ifm= document.getElementById("iframepage");
var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
if(ifm != null && subWeb != null) {
   ifm.height = subWeb.body.scrollHeight;
   ifm.width = subWeb.body.scrollWidth;
}
}
</script>
