
@{
    ViewBag.Title = "广告";
    Layout = "~/Views/Shared/_LayoutOur.cshtml";
}
<div  id=""  style="height: 400px;margin-top: 10%">
    <div>
        <p style="text-align: center;font-size: 20px;color: #009B4B" >
            our666是针对教育行业做的一款导航网站,<br/>
            我们的目标是希望做到尽量的把优秀的学习资源提供给您!<br/>
            提高您的学习能力和效率，降低您的学习成本!
        </p>
        <p style="text-align: center;"><span style="font-size: 44px;color: #FCA300">联系我们</span></p>
    </div>
    <div>
       
        <p style="text-align: center; font-size: 20px;">
            <span style="color: #FCA300">QQ：1342743270</span>
            <br/>
            <span style="color: #FCA300">邮箱:1342743270@qq.com </span>
        </p>
    </div>


</div>


