<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="author" content="47tz">
    <meta name="copyright" content="Copyright (c) our666.com">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="上网，从our666开始。" />
    <meta name="keywords" content="our666,,网址大全,上网导航,网址之家,网址大全,导航网站,导航网" />
    <title>our666</title>

    <link href="~/MobileUI/static/css/v1/min.our666.touch.css" rel="stylesheet" />
    <link href="~/MobileUI/static/css/v1/hot-joke.css" rel="stylesheet" />@*热点和开心一刻*@
    <script src="~/MobileUI/static/js/v1/min.script.js"></script>
    @*<script type="text/javascript" src="~/MobileUI/static/js/v1/min.touch.js"></script>*@


 

</head>


<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<body>
    @RenderBody()
    <div id="wrap">
        <div id="header" class="clearfix" style="margin-left:3% ">
            <iframe height="53" scrolling="no" frameborder="0" allowtransparency="true" src="https://is.tianqi.com/index.php?c=code&id=12&icon=1&num=2&site=12" class="weatherM"></iframe>
            <h1>
                <a href="/Home/Index">
                    @*<img src="~/Static/our666/images/logo.png" alt=""/>*@
                </a>

            </h1>
        </div>
        <div>

        </div>
        <div id="main">

            <div class="home_sec">
                <div class="search">
                    <form id="baiduForm" action="https://m.baidu.com/s" autocomplete="off" target="_blank" accept-charset="utf-8">
                        <input type="hidden" name="tn" id="tn" value="56060048_pg"> <input type="hidden" name="ch" id="ch" value="1"> <input type="hidden" name="ie" id="ie" value="utf-8">
                        <p>
                            <span class="ipt_wrap"><input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" name="word" placeholder="百度一下" class="ipt"></span><button type="submit" class="btn" id="btnBd" stat="61217">百度一下</button>
                        </p>
                    </form>
                </div>

                <ul class="logo_links clearfix">
                    <li><a href="/Home/MTCode/" class="middle_img" _href="#" stat="82389"><span><img src="~/GoodUI/img/ewm.gif"></span></a></li>
                    <li><a href="http://www.baidu.com/" class="middle_img" _href="#" stat="82382"><span><img src="~/MobileUI/static/images/v1/logos_1.png"></span></a></li>
                    <li><a href="https://www.tmall.com/" class="middle_img" _href="#" stat="82383"><span><img src="~/MobileUI/static/images/link/tm.jpg"></span></a></li>
                    <li><a href="http://www.qq.com/" class="middle_img" _href="#" stat="82384"><span><img src="~/MobileUI/static/images/v1/logos_3.png"></span></a></li>
                    <li><a href="http://bj.ganji.com/" class="middle_img" _href="#" stat="82385"><span><img src="~/MobileUI/static/images/link/gjw.jpg"></span></a></li>
                    <li><a href="https://www.jd.com/" class="middle_img" _href="#" stat="95226"><span><img src="~/MobileUI/static/images/link/jd.png"></span></a></li>
                    <li><a href="http://www.youku.com/" class="middle_img" _href="#" stat="95242"><span><img src="~/MobileUI/static/images/link/yk.png"></span></a></li>
                    <li><a href="https://beijing.anjuke.com" class="middle_img" _href="#" stat="95245"><span><img src="~/MobileUI/static/images/link/ajk.jpg"></span></a></li>
                    <li><a href="https://www.fixmath.com/" class="middle_img" _href="#" stat="95245"><span><img src="~/MobileUI/static/images/link/fixmath.png"></span></a></li>


                </ul>
            </div>
            <div class="home_sec home_sec_white btn_table clearfix">
                <div class="category">
                    <a href="http://news.baidu.com/" class="news" stat="86684">新闻</a>
                </div> <ul class="btn_list ctgy_detail"> <li><a href="http://www.toutiao.com/" stat="82442">头条</a></li> <li><a href="http://www.ifeng.com/" stat="82443">凤凰</a></li> <li><a href="https://www.zhibo8.cc/" stat="82440">NBA直播</a></li> <li><a href="http://www.163.com/" stat="82445">网易</a></li> <li><a href="http://www.sina.com.cn/" stat="82447">新浪</a></li> <li><a href="http://www.cctv.com/" stat="82439">央视网</a></li> </ul>
            </div>

            @*自己添加开始*@

            <div class="sec sec-hot bg-white tab-box" w="rd"  style="font-size: 62.5%;  font-size: 1.4rem;">
                <div class="inner">
                    <h3 class="title-box">
                        <i class="icon icon-hot"></i> <span class="title" >百度实时热点</span> <a href="javascript:void(0);" cid="14328188" more="14328189" class="change btn-change" type="http://top.baidu.com/m/?from=1001706b"><i class="icon icon-change"></i>换一换</a>
                    </h3>
                    <div class="hot-list">
                        @Html.Raw(ViewBag.News);
                       
                    </div>
            </div>
            <div class="sec sec-joke bg-white tab-box" w="gx">
                <div class="inner">
                    <h3 class="title-box">
                        <i class="icon icon-joke"></i> <span class="title">开心一刻</span> <a href="javascript:void(0);" class="change btn-change" cid="14328190" more="14328191" type="http://joke.m.duba.com/mxh.html?tab=2"><i class="icon icon-change"></i>换一换</a>
                    </h3> <ul class="joke-box">
                        <li class="tab-cnt on" id="221944">
                            <a href="http://joke.m.duba.com/mjoke.html?id=221944&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">领导出差，临走时看着老婆拉着他的手，依依不舍的样子；于是领导跟司机说道：“你先找个饭店吃点饭吧，一会我们在出发！”就这样，领导和老婆回屋进了卧室...司机看了一眼时间，然后说道：“就三分钟的时间！我特么能吃点啥！”</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="71681">
                            <a href="http://joke.m.duba.com/mjoke.html?id=71681&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">记者：“你能说说你单身的心酸吗？“男子：“我手酸。。。“</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="45354">
                            <a href="http://joke.m.duba.com/mjoke.html?id=45354&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">少妇报案：“我把钱放在胸衣内，在拥挤的地铁内被一帅哥偷走了…”警察纳闷：“这么敏感的地方你就没觉察到？”少妇红着脸答：“谁能想到他是摸钱呢？”</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="9868">
                            <a href="http://joke.m.duba.com/mjoke.html?id=9868&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">我是一个洁身自好的女子，从来不鬼混，不晚归……直到昨天过了四十岁生日爸妈把我撵出了家门……欧多肯</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="382849">
                            <a href="http://joke.m.duba.com/mjoke.html?id=382849&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text"> 学校通知说6月7、8号两天不许请假，以防去当高考枪手。个人觉得，这个问题完全可以放心，以我们现在的水平，基本连大专都考不上，应该没人会来找我们代考的。倒是想说，有没有学妹学弟愿意高考完抽空来帮我考一下英语。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="136392">
                            <a href="http://joke.m.duba.com/mjoke.html?id=136392&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">古代一国王是个瘸腿，还是一只眼。他让画师给他画像，前两个画师如实画了，他大怒说丑化他的形象了，就推出去斩了。第三个画师很聪明，画了国王一脚在前，一脚在后弓腿做马步，睁一只眼闭一只眼瞄准的样子，拉弓射箭的画像。国王很满意，赏了画师千两黄金。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="393552">
                            <a href="http://joke.m.duba.com/mjoke.html?id=393552&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">刚才网吧通宵，凌晨三四点睡着了。模糊中感觉裤子口袋里的钱包在动，意识到有小偷就醒了。醒后发现没人啊，于是在下想到一计策，装睡！然后等小偷再次动手把他抓住！！。。。。。gc来了，我真睡着了，再次醒的时候时间七点，钱包没了。。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="2086">
                            <a href="http://joke.m.duba.com/mjoke.html?id=2086&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">问，为什么悟空当初能大闹天宫，而后连小妖怪也打不过了？ 答，你妹的封号五百年，装备怎么跟的上！</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="279911">
                            <a href="http://joke.m.duba.com/mjoke.html?id=279911&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">五岁女儿哭着跑来对爸爸说：“爸爸，刚才摔倒了，摔得可疼可疼了！”爸爸：“可疼可疼有多疼啊？”女儿楞了一秒后，忽然给爸爸甩了一个大嘴巴子，爸爸正想发火，谁知女儿瞪着大眼睛说：“爸爸，就这么疼，知道了吧？”</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="6943">
                            <a href="http://joke.m.duba.com/mjoke.html?id=6943&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">刚交女朋友时，以为女孩子的衣服都很贵，所以女朋友叫我陪她逛街总是被我用各种理由推辞，好不容易攒了两千块，拉着女朋友去逛街，得知一条裤子一件衣服才九十块，哥立即冲老板喊到“尼玛的，这么便宜，给我拿二十套”后来女朋友就和我分了，原因是我败家，我容易么我？</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="16987">
                            <a href="http://joke.m.duba.com/mjoke.html?id=16987&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">昨晚喝高了！早上起床老婆问：昨晚猫尿喝多了，睡得得的咋样？我：还行，还做了个美梦。老婆：啥美梦？我：梦见我们家到处都是奶头，激动啊！老婆：怪不得昨晚把我十个脚趾一个一个的亲了几遍。我不恋足啊！！！！</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="259422">
                            <a href="http://joke.m.duba.com/mjoke.html?id=259422&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">路边听到两个大学生对话。甲：“你女朋友呢？”乙：“去医院杀人去了。”甲：“杀什么人阿？”乙：“不知道，现在还没名字吧。”然后甲就狂笑，我就不知道他为什么笑的那么开心。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="21170">
                            <a href="http://joke.m.duba.com/mjoke.html?id=21170&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">小时候，谁的玩具多谁就有面子；上学，谁的分数高谁就有面子；工作了，谁的薪水高谁就有面子；结婚了，谁的零花钱多谁就有面子；老了，谁的孩子孝顺谁就有面子；人这一辈子为了面子得到了多少，又失去了多少。别把自己看得那么重，在别人眼里你没那么重要！</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="40865">
                            <a href="http://joke.m.duba.com/mjoke.html?id=40865&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">lz业务员一枚，每个月有一二十天去外省出差！一回家就分不清毛巾牙刷哪个是我的（家里有父母女朋友四人），每次回来老妈都问烦了，无耐老妈把我毛巾都剪个缺口，牙刷把儿丢在煤气灶上烧了一下，从此分清了。最烂的东西都是我的</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="313950">
                            <a href="http://joke.m.duba.com/mjoke.html?id=313950&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">韩国人和东北女生打雪仗的区别： 韩国人：欧巴 哈几马 ...然后欢声笑语 再看看东北的满耳都是嘶吼和呐喊：草泥马 敢偷袭老娘 丫丫的</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="223625">
                            <a href="http://joke.m.duba.com/mjoke.html?id=223625&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">二货青年决定向女神表白。 鼓起勇气把女神约到操场上，结果看到女神纯洁无瑕的面容，一时鼓起的勇气烟消云散，结结巴巴的说：“我。。我想。。对。。对你说，啊，嗯，好好学习！”女神噗嗤一笑，说：“你的意思不就是说天天想上吗？</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="16055">
                            <a href="http://joke.m.duba.com/mjoke.html?id=16055&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">一朋友父亲藏了一瓶好酒，突然有一天发现酒没了，遂破口大骂道：“哪个龟儿子偷喝老子的酒了！“这时候，朋友的爷爷淡淡的说了一句：“老子喝的，你这龟孙子不服气是吧？“</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="80336">
                            <a href="http://joke.m.duba.com/mjoke.html?id=80336&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">有一天去小卖部买东西，买完了，喊一声：大姐，结账。那大姐嗤嗤笑了，指了指一个二十多岁的美女说,我女儿那么大了，你该叫我什么呢？我看着她那美丽的女儿，脑抽的问了一句：大姐，那我叫你岳母可以么？。。。。。。。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="42966">
                            <a href="http://joke.m.duba.com/mjoke.html?id=42966&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">宿舍两姐们儿开玩笑，一个说自己是香港的，另一个就说：赶紧回你们香港去吧。“那你给我买火……”（后来想想觉得火车到不了），于是赶紧转调说：“机票”。于是到我们耳朵里，就是：那你给我买火鸡票。顿时我的脑海里是那姐们儿骑着火鸡努力奔向远方的情形。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="75568">
                            <a href="http://joke.m.duba.com/mjoke.html?id=75568&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">有这样一个问题：如果你身上有个按钮，按一下就可以忘了以前的所有，你觉得按下会发生什么事！神人回复：咦！这里有个按钮，按一下……！这里有个按钮，按一下……！这里有个按钮，按一下……！这里有个按钮，按一下……！…………</p>
                            </a>
                        </li>
                    </ul> <ul class="v-dh"> <li><a href="http://m.mahua.com/" cid="14330939">快乐麻花</a></li> <li><a href="http://m.qiushibaike.com/" cid="14330940">糗事百科</a></li> <li><a href="http://joke.m.duba.com/" cid="14331043">笑到爆</a></li> <li><a href="http://m.budejie.com/" cid="14331155">不得姐</a></li> </ul>
                </div>
            </div>
            @*自己添加结束*@



            <div class="home_sec tools">
                <div class="tools_title">
                    <strong>常用工具</strong>
                </div> <ul class="logo_links icon_links clearfix">
                    <li><a href="http://huoche.tuniu.com" class="iclk_2" stat="82121">火车</a></li>
                    <li><a href="http://www.qiche100.cn/function/mobile/home/index.aspx?c=42&p=105" class="iclk_4" stat="82125">违章</a></li>

                    <li><a href="http://www.51wnl.com/calendar_lightapp/index.html" class="iclk_12" stat="82133">万年历</a></li>
                    <li><a href="http://www.kuaidi100.com/?from=openv" class="iclk_11" stat="82132">快递</a></li>
                    <li><a href="http://map.baidu.com/" class="iclk_5" stat="82126">地图</a></li>
                </ul>
            </div>
            @*<script type="text/javascript"> trace(173000, 1, '', '', 't:PV');</script>*@
        </div>
        <div id="footer">
            <p class="f_links">
                <a href="/Our/Our/ContactUs">意见反馈</a><em>|</em><a href="javascript:scroll(0,0)" stat="61251">返回顶部</a><em>|</em><a href="/Our/Our/ContactUs">商务合作</a><em>|</em>
            </p>
            <p class="copyright">our666版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备17035010号</p>
        </div>
    </div>
    <div id="cnzz_stat_icon_30083742" style="display: none;"></div>
    <div id="share_fn" class="city_fn">
        <a href="javascript:;" class="share_weibo"></a><a href="javascript:;" class="share_renren"></a>
    </div>
</body>
</html>
<script type="text/javascript">/*jack创建于 2017-06-26*/var cpro_id = "u1879755";</script>

