<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no"/>
    <link rel="icon" href="~/Img/logo/logo.ico">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
