<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>our666</title>
    <link rel="icon" href="~/Img/logo/logo.ico">
    <link rel="stylesheet" type="text/css" href="~/Static/our666/style/tab.css" media="all" />
    <link href="~/Static/our666/style/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Static/our666/js/jquery.js"></script> <!-- 效果库 -->
    <script type="text/javascript" src="~/Static/our666/js/jquery-1.10.2.min.js"></script> <!-- 效果库 -->
    <script type="text/javascript" src="~/Static/our666/js/yjjp_jquery.js"></script> <!-- 推荐+医家精品 轮播特效 1 -->
    <script type="text/javascript" src="~/Static/our666/js/superslide.2.1.js"></script> <!-- 推荐+医家精品 轮播特效 2 -->
    <!-- <script type="text/javascript" src="~/Static/our666/js/demo.js"></script> 焦点图轮换特效 -->
    <!--<script type="text/javascript" src="js/scroll.js"></script>--> <!-- 滚动条特效 -->
    <script type="text/javascript" src="~/Static/our666/js/search.js"></script> <!-- 搜索栏 -->
    <script type="text/javascript" src="~/Static/our666/js/noie.js"></script> <!-- 屏蔽IE6 -->

    <script type="text/javascript">
$(function(){
	$('.tabPanel ._tab li').click(function(){
		$(this).addClass('hit').siblings().removeClass('hit');
		$('.panes>div:eq('+$(this).index()+')').show().siblings().hide();
	})
})
    </script>
</head>

<body>
    @RenderBody()
<div style="width: 1000px; margin: 10px auto;">
<script type="text/javascript" src="~/Static/our666/js/menu.js"></script>
<div class="tabPanel">
<ul class="_tab">
    <li class="nav01 hit"><span>网址大全</span></li>
    <li class="nav02"><span>认证培训机构</span></li>
    <li class="nav03"><span>名校大全</span></li>
    <li class="nav04"><span>音标点读</span></li>
    <li class="nav05"><span>二维码生成</span></li>
    <!--<li class="nav06"><span>安卓学习</span></li>-->
    <li class="nav07"><span>幼儿园专栏</span></li>
    <li class="nav08"><span>小学生专栏</span></li>
    <li class="nav09"><span>初中生专栏</span></li>

    
</ul>
<div class="panes">
<div class="pane" style="display: block; height: auto; width: auto">
<div class="conter">
<!-- 主体信息 -->
<div class="wzdq">
<div class="main">
<div class="lleft">
    <div class="left">
        <!-- 名站推荐 -->
        <div class="lefts">
            <div class="lefts_top"><span>名站推荐</span></div>
            <div class="lefts_main">
                <ul>
                    <li class="lefts_adv1">
                        <a href="http://www.mofangge.com/" target="_blank"><img src="~/Static/our666/images/adv01.jpg" width="90" height="41" alt="魔方格" title="魔方格"></a>
                    </li>
                    <li class="lefts_adv2">
                        <a href="http://www.zxxk.com/" target="_blank"><img src="~/Static/our666/images/adv02.png" width="90" height="41" alt="学科网" title="学科网"></a>
                    </li>
                    <li class="lefts_adv3">
                        <a href="http://www.7wenta.com/" target="_blank"><img src="~/Static/our666/images/adv03.png" width="90" height="41" alt="问他" title="问他"></a>
                    </li>
                    <li class="lefts_adv4">
                        <a href="http://www.yuantiku.com/" target="_blank"><img src="~/Static/our666/images/adv04.png" width="90" height="41" alt="猿题库" title="猿题库"></a>
                    </li>
                </ul>
            </div>
            <div class="lefts_bottom">
                <ul>
                    <li><a href="#" class="af1">药通天下</a></li>
                    <li><a href="#" class="af2">中国好医院</a></li>
                    <li><a href="#" class="af3">修正药业</a></li>
                    <li><a href="#" class="af4">北京同仁堂</a></li>
                    <li><a href="#" class="af5">康缘药业</a></li>
                    <li><a href="#" class="af6">时代医药</a></li>
                    <li><a href="#" class="af7">药房网商城</a></li>
                    <li><a href="#" class="af8">吉林敖东</a></li>
                    <li><a href="#" class="af9">药通天下</a></li>
                    <li><a href="#" class="af10">中国好医院</a></li>
                    <li><a href="#" class="af11">修正药业</a></li>
                    <li><a href="#" class="af12">北京同仁堂</a></li>
                    <li><a href="#" class="af13">药房网商城</a></li>
                    <li><a href="#" class="af14">吉林敖东</a></li>
                </ul>
            </div>
        </div>
        <!-- 名站推荐 end -->


    </div>
</div>

<div class="right">
<!-- 黄金广告位 -->
<div class="right1">
    <ul class="gold1">
        <li><a  class="ar1" href="https://www.baidu.com/?tn=siteour666">百度</a></li>
        <li><a   class="ar2" href="http://www.sina.com.cn/">新浪网</a></li>
        <li><a  class="ar3" href="#">搜狐</a></li>
        <li><a  class="ar4" href="#">腾讯</a></li>
        <li><a  class="ar5" href="#">网易</a></li>
        <li><a  class="ar6" href="#">爱奇艺高清</a></li>
        <li><a  class="ar7" href="#">凤凰网</a></li>
        <li><a class="ar8" href="#">好123</a></li>
        <li><a class="ar16" href="#">天猫</a></li>
        <li><a class="ar9" href="#">淘宝网</a></li>
        <li><a class="ar14" href="#">汽车之家</a></li>
        <li><a class="ar13" href="#">京东商城</a></li>
        @*<li><a  class="ar10" href="#">人人网</a></li>
    <li><a  class="ar11" href="#">1号店</a></li>
    <li><a  class="ar12" href="#">乐峰网</a></li>


    <li><a  class="ar15" href="#">今日特价</a></li>

    <li><a  class="ar17" href="#">新华网</a></li>
    <li><a  class="ar18"  href="#">爱淘宝</a></li>*@
    </ul>

    <ul class="gold2">
        <li><a href="#">药通天下</a></li>
        <li><a href="#">中国阜外医院</a></li>
        <li><a href="#">修正药业</a></li>
        <li><a href="#">北京同仁堂</a></li>
        <li><a href="#">康缘药业</a></li>
        <li><a href="#">时代医药</a></li>
        <li><a href="#">药房网商城</a></li>
        <li><a href="#"><span>吉林敖东</span></a></li>
        <li><a href="#">药通天下</a></li>
        <li><a href="#">中国阜外医院</a></li>
        <li><a href="#">修正药业</a></li>
        <li><a href="#">北京同仁堂</a></li>
        <li><a href="#">康缘药业</a></li>
        <li><a href="#">时代医药</a></li>
        <li><a href="#">药房网商城</a></li>
        <li><a href="#">吉林敖东</a></li>
        <li><a href="#">药通天下</a></li>
        <li><a href="#">中国阜外医院</a></li>
        <li><a href="#">修正药业</a></li>
        <li><a href="#">北京同仁堂</a></li>
        <li><a href="#">康缘药业</a></li>
        <li><a href="#">时代医药</a></li>
        <li><a href="#">药房网商城</a></li>
        <li><a href="#">吉林敖东</a></li>
        <li><a href="#">药通天下</a></li>
        <li><a href="#">中国阜外医院</a></li>
        <li><a href="#">修正药业</a></li>
        <li><a href="#">北京同仁堂</a></li>
        <li><a href="#">康缘药业</a></li>
        <li><a href="#">时代医药</a></li>
    </ul>
</div>
<!-- 黄金广告位 end -->
<!-- 小字广告 -->
<div class="right2">
    <span><a href="#">39健康网</a></span>
    <span><a href="#">好大夫在线</a></span>
    <span><a href="#">成龙医药招商网</a></span>
    <span><a href="#">中国红丝带网</a></span>
    <span><a href="#">久久健康网</a></span>
    <span><a href="#">39健康网</a></span>
    <span><a href="#">好大夫在线</a></span>
    <span><a href="#">成龙医药网</a></span>
    <span><a href="#">中国红丝带网</a></span>
    <span><a href="#">39健康网</a></span>
</div>
<!-- 小字广告 end -->



</div>

</div>
<div class="clear"></div>




</div>
<!-- 热门+其它+地区 end -->
<!-- 主体信息 end -->

</div>

<!-- 联系方式浮窗 -->
<div class="suspend" style="display: none">
    <dl>
        <dt class="IE6PNG"></dt>
        <dd class="suspendQQ"><a target="_blank" href="tencent://message/?uin=00000000&Site=&Menu=yes"></a></dd>
        <dd class="suspendTel"><a href="javascript:void(0);"></a></dd>
    </dl>
</div>
<!-- 联系方式浮窗 -->

<script type="text/javascript" src="~/Static/our666/js/scroll.js"></script> <!-- 滚动条 -->
<script type="text/javascript" src="~/Static/our666/js/return_top.js"></script> <!-- 返回顶部特效代码 -->
<!--<script type="text/javascript" src="js/index_lxwm.js"></script>--> <!-- 联系方式浮窗特效 -->
<script type="text/javascript" src="~/Static/our666/js/threeinone.js"></script> <!-- 九宫格特效 + 两个翻页特效 threeinone -->
</div>
<div class="pane" style="height: 1426px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="yyxw.html"></iframe>
</div>
<div class="pane" style="height: 2336px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="wsyf.html"></iframe>
</div>
<div class="pane" style="height: 3033px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="yyzs.html"></iframe>
</div>
<div class="pane" style="height: 2763px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="lxqq.html"></iframe>
</div>
<div class="pane" style="height: 1752px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="bjys.html"></iframe>
</div>
<div class="pane" style="height: 2793px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="mysj.html"></iframe>
</div>
<div class="pane" style="height: 2795px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="mzyz.html"></iframe>
</div>
<div class="pane" style="height: 2124px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" src="ylqx.html"></iframe>
</div>
</div>
</div>

</div>

<script type="text/javascript" src="~/Static/our666/js/footer.js"></script> <!-- 网底 -->

</body>

</html>

