<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="author" content="47tz">
    <meta name="copyright" content="Copyright (c) our666.com">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="上网，从our666开始。" />
    <meta name="keywords" content="our666,,网址大全,上网导航,网址之家,网址大全,导航网站,导航网" />
    <title>our666</title>

    <link href="~/MobileUI/static/css/v1/min.our666.touch.css" rel="stylesheet" />
    <link href="~/MobileUI/static/css/v1/hot-joke.css" rel="stylesheet" />@*热点和开心一刻*@
    <script src="~/MobileUI/static/js/v1/min.script.js"></script>
    @*<script type="text/javascript" src="~/MobileUI/static/js/v1/min.touch.js"></script>*@


 

</head>


<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<body>
    @RenderBody()
    <div id="wrap">
        <div id="header" class="clearfix" style="margin-left:3% ">
            <iframe height="53" scrolling="no" frameborder="0" allowtransparency="true" src="https://is.tianqi.com/index.php?c=code&id=12&icon=1&num=2&site=12" class="weatherM"></iframe>
            <h1>
                <a href="/Home/Index">
                    @*<img src="~/Static/our666/images/logo.png" alt=""/>*@
                </a>

            </h1>
        </div>
        <div>

        </div>
        <div id="main">

            <div class="home_sec">
                <div class="search">
                    <form id="baiduForm" action="https://m.baidu.com/s" autocomplete="off" target="_blank" accept-charset="utf-8">
                        <input type="hidden" name="tn" id="tn" value="56060048_pg"> <input type="hidden" name="ch" id="ch" value="1"> <input type="hidden" name="ie" id="ie" value="utf-8">
                        <p>
                            <span class="ipt_wrap"><input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" name="word" placeholder="百度一下" class="ipt"></span><button type="submit" class="btn" id="btnBd" stat="61217">百度一下</button>
                        </p>
                    </form>
                </div>

                <ul class="logo_links clearfix">
                    <li><a href="/Home/MTCode/" class="middle_img" _href="#" stat="82389"><span><img src="~/GoodUI/img/ewm.gif"></span></a></li>
                    <li><a href="http://www.baidu.com/" class="middle_img" _href="#" stat="82382"><span><img src="~/MobileUI/static/images/v1/logos_1.png"></span></a></li>
                    <li><a href="https://www.tmall.com/" class="middle_img" _href="#" stat="82383"><span><img src="~/MobileUI/static/images/link/tm.jpg"></span></a></li>
                    <li><a href="http://www.qq.com/" class="middle_img" _href="#" stat="82384"><span><img src="~/MobileUI/static/images/v1/logos_3.png"></span></a></li>
                    <li><a href="http://bj.ganji.com/" class="middle_img" _href="#" stat="82385"><span><img src="~/MobileUI/static/images/link/gjw.jpg"></span></a></li>
                    <li><a href="https://www.jd.com/" class="middle_img" _href="#" stat="95226"><span><img src="~/MobileUI/static/images/link/jd.png"></span></a></li>
                    <li><a href="http://www.youku.com/" class="middle_img" _href="#" stat="95242"><span><img src="~/MobileUI/static/images/link/yk.png"></span></a></li>
                    <li><a href="https://beijing.anjuke.com" class="middle_img" _href="#" stat="95245"><span><img src="~/MobileUI/static/images/link/ajk.jpg"></span></a></li>


                </ul>
            </div>
            <div class="home_sec home_sec_white btn_table clearfix">
                <div class="category">
                    <a href="http://news.baidu.com/" class="news" stat="86684">新闻</a>
                </div> <ul class="btn_list ctgy_detail"> <li><a href="http://www.toutiao.com/" stat="82442">头条</a></li> <li><a href="http://www.ifeng.com/" stat="82443">凤凰</a></li> <li><a href="https://www.zhibo8.cc/" stat="82440">NBA直播</a></li> <li><a href="http://www.163.com/" stat="82445">网易</a></li> <li><a href="http://www.sina.com.cn/" stat="82447">新浪</a></li> <li><a href="http://www.cctv.com/" stat="82439">央视网</a></li> </ul>
            </div>

            @*自己添加开始*@

            <div class="sec sec-hot bg-white tab-box" w="rd"  style="font-size: 62.5%;  font-size: 1.4rem;">
                <div class="inner">
                    <h3 class="title-box">
                        <i class="icon icon-hot"></i> <span class="title" >百度实时热点</span> <a href="javascript:void(0);" cid="14328188" more="14328189" class="change btn-change" type="http://top.baidu.com/m/?from=1001706b"><i class="icon icon-change"></i>换一换</a>
                    </h3>
                    <div class="hot-list">
                        <ul class="tab-cnt on"> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E9%A6%99%E6%B8%AF%E5%9B%9E%E5%BD%9220%E5%B9%B4" cid="14809116">香港回归20年</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E6%97%A5%E6%B8%94%E8%88%B9%E8%A2%AB%E6%B5%B7%E5%95%B8%E5%8D%B7%E8%B5%B0" cid="15962186">日渔船被海啸卷走</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%BC%A0%E9%9B%A8%E7%BB%AE%E8%A2%AB%E6%9B%9D%E6%80%80%E5%AD%95" cid="15544737">张雨绮被曝怀孕</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E7%A8%8B%E5%BA%8F%E7%8C%BF%E5%A4%8D%E7%8E%B0%E9%BB%84%E5%AE%B6%E9%A9%B9" cid="15544832">程序猿复现黄家驹</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E6%9D%9C%E7%89%B9%E5%B0%94%E7%89%B9%E4%B8%89%E8%B0%A2%E4%B8%AD%E5%9B%BD" cid="15544833">杜特尔特三谢中国</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E8%80%81%E5%A4%AA%E7%A7%AF%E8%93%84%E9%80%81%E8%AD%A6%E5%AF%9F" cid="15544834">老太积蓄送警察</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E6%AF%95%E4%B8%9A%E8%AF%81%E8%A2%AB%E9%A1%BA%E4%B8%B0%E5%AF%84%E4%B8%A2" cid="15544929">毕业证被顺丰寄丢</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E8%A1%A8%E6%BC%94%E4%B9%A6%E6%8C%A1%E5%AD%90%E5%BC%B9%E8%BA%AB%E4%BA%A1" cid="15544930">表演书挡子弹身亡</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%A5%B3%E7%AF%AE%E5%89%8D%E5%9B%BD%E6%89%8B%E7%A7%80%E9%95%BF%E8%85%BF" cid="15813328">女篮前国手秀长腿</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E7%BE%8E%E7%9A%84%E5%8D%81%E4%BA%BF%E9%AA%97%E6%A1%88%E6%9B%9D%E5%85%89" cid="15813329">美的十亿骗案曝光</a></li> </ul> <ul class="tab-cnt"> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E4%BD%95%E7%82%85%E8%8A%82%E7%9B%AE%E7%8E%B0%E5%9C%BA%E5%8F%91%E9%A3%99" cid="15962187">何炅节目现场发飙</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E8%94%A1%E4%BE%9D%E6%9E%97%E7%A9%BF%E6%B3%B3%E8%A1%A3%E4%B8%8A%E8%A1%97" cid="15962188">蔡依林穿泳衣上街</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%88%A4%E6%9C%8B%E5%8F%8B%E5%9C%88%E9%81%93%E6%AD%895%E5%A4%A9" cid="15962189">判朋友圈道歉5天</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%88%B6%E9%80%A0%E5%8F%A4%E7%81%AB%E7%83%9F%E8%8A%B1%E8%8E%B7%E5%88%91" cid="15962190">制造古火烟花获刑</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%A5%B6%E8%8C%B6%E5%A6%B9%E5%A6%B9%E6%B5%B7%E6%BB%A9%E6%96%B0%E7%85%A7" cid="15962191">奶茶妹妹海滩新照</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%B0%91%E5%A5%B3%E5%B1%8B%E5%86%85%E9%9A%BE%E4%BA%A7%E8%BA%AB%E4%BA%A1" cid="15962192">少女屋内难产身亡</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E8%80%81%E7%BF%81%E8%87%AA%E7%A7%B0%E5%B8%8C%E7%89%B9%E5%8B%92" cid="15962193">老翁自称希特勒</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E4%B8%83%E6%97%AC%E5%A4%A7%E7%88%B7%E9%AA%82%E5%81%9C%E5%9C%B0%E9%93%81" cid="15962194">七旬大爷骂停地铁</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%A5%B3%E5%AD%A9%E8%A2%AB%E9%93%81%E9%93%BE%E6%8B%B45%E5%B9%B4" cid="15962195">女孩被铁链拴5年</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E6%8F%AD%E7%A7%98%E7%BD%91%E7%BA%A2%E5%B7%A5%E5%8E%82%E9%80%A0%E6%98%9F" cid="15962196">揭秘网红工厂造星</a></li> </ul> <ul class="tab-cnt"> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E7%BE%8E%E5%9B%BD%E5%88%B6%E8%A3%81%E4%B8%B9%E4%B8%9C%E9%93%B6%E8%A1%8C" cid="15962197">美国制裁丹东银行</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=12%E5%B2%81%E9%AB%98%E8%80%83620%E5%88%86" cid="15962198">12岁高考620分</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%8C%97%E4%BA%AC%E8%AE%BE%E7%AB%8B%E4%BD%93%E6%96%91%E9%A9%AC%E7%BA%BF" cid="15962199">北京设立体斑马线</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=26%E5%B2%81%E5%8C%BB%E7%94%9F%E7%8C%9D%E6%AD%BB" cid="15962200">26岁医生猝死</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E6%9D%B0%E6%A3%AE%E6%96%AF%E5%9D%A6%E6%A3%AE%E5%BD%93%E7%88%B9" cid="15962201">杰森斯坦森当爹</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E7%94%B7%E5%AD%90%E7%94%A8%E5%B0%8F%E9%BE%99%E8%99%BE%E6%B1%82%E5%A9%9A" cid="15962202">男子用小龙虾求婚</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E7%94%B0%E5%8D%8E%E4%B8%80%E5%AE%B64%E5%8F%A3%E6%82%A3%E7%99%8C" cid="15962203">田华一家4口患癌</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E5%8E%BB%E4%B8%AD%E5%9B%BD%E5%9C%86%E7%A9%BA%E5%A7%90%E6%A2%A6" cid="15962204">去中国圆空姐梦</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E7%95%9912%E4%B8%87%E9%93%B6%E8%A1%8C%E6%8B%92%E5%8F%96" cid="15962205">留12万银行拒取</a></li> <li><a href="http://m.baidu.com/s?from=1001706b&amp;word=%E8%8E%AB%E5%90%8D%E8%83%8C%E5%80%BA16%E4%B8%87" cid="15962206">莫名背债16万</a></li> </ul>
                    </div> <ul class="v-dh"> <li><a href="http://m.sohu.com/?_trans_=000012_lb_db" cid="15886192">搜狐</a></li> <li><a href="http://info.3g.qq.com/g/s?aid=index&amp;g_ut=3&amp;g_f=1283" cid="16409875">腾讯</a></li> <li><a href="http://news.sina.cn/?wm=3192_1001" cid="15886286">新浪</a></li> <li><a href="http://i.ifeng.com/?ch=duba_mingzhan" cid="15886287">凤凰网</a></li> </ul>
                </div>
            </div>
            <div class="sec sec-joke bg-white tab-box" w="gx">
                <div class="inner">
                    <h3 class="title-box">
                        <i class="icon icon-joke"></i> <span class="title">开心一刻</span> <a href="javascript:void(0);" class="change btn-change" cid="14328190" more="14328191" type="http://joke.m.duba.com/mxh.html?tab=2"><i class="icon icon-change"></i>换一换</a>
                    </h3> <ul class="joke-box">
                        <li class="tab-cnt on" id="221944">
                            <a href="http://joke.m.duba.com/mjoke.html?id=221944&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">领导出差，临走时看着老婆拉着他的手，依依不舍的样子；于是领导跟司机说道：“你先找个饭店吃点饭吧，一会我们在出发！”就这样，领导和老婆回屋进了卧室...司机看了一眼时间，然后说道：“就三分钟的时间！我特么能吃点啥！”</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="71681">
                            <a href="http://joke.m.duba.com/mjoke.html?id=71681&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">记者：“你能说说你单身的心酸吗？“男子：“我手酸。。。“</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="45354">
                            <a href="http://joke.m.duba.com/mjoke.html?id=45354&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">少妇报案：“我把钱放在胸衣内，在拥挤的地铁内被一帅哥偷走了…”警察纳闷：“这么敏感的地方你就没觉察到？”少妇红着脸答：“谁能想到他是摸钱呢？”</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="9868">
                            <a href="http://joke.m.duba.com/mjoke.html?id=9868&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">我是一个洁身自好的女子，从来不鬼混，不晚归……直到昨天过了四十岁生日爸妈把我撵出了家门……欧多肯</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="382849">
                            <a href="http://joke.m.duba.com/mjoke.html?id=382849&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text"> 学校通知说6月7、8号两天不许请假，以防去当高考枪手。个人觉得，这个问题完全可以放心，以我们现在的水平，基本连大专都考不上，应该没人会来找我们代考的。倒是想说，有没有学妹学弟愿意高考完抽空来帮我考一下英语。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="136392">
                            <a href="http://joke.m.duba.com/mjoke.html?id=136392&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">古代一国王是个瘸腿，还是一只眼。他让画师给他画像，前两个画师如实画了，他大怒说丑化他的形象了，就推出去斩了。第三个画师很聪明，画了国王一脚在前，一脚在后弓腿做马步，睁一只眼闭一只眼瞄准的样子，拉弓射箭的画像。国王很满意，赏了画师千两黄金。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="393552">
                            <a href="http://joke.m.duba.com/mjoke.html?id=393552&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">刚才网吧通宵，凌晨三四点睡着了。模糊中感觉裤子口袋里的钱包在动，意识到有小偷就醒了。醒后发现没人啊，于是在下想到一计策，装睡！然后等小偷再次动手把他抓住！！。。。。。gc来了，我真睡着了，再次醒的时候时间七点，钱包没了。。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="2086">
                            <a href="http://joke.m.duba.com/mjoke.html?id=2086&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">问，为什么悟空当初能大闹天宫，而后连小妖怪也打不过了？ 答，你妹的封号五百年，装备怎么跟的上！</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="279911">
                            <a href="http://joke.m.duba.com/mjoke.html?id=279911&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">五岁女儿哭着跑来对爸爸说：“爸爸，刚才摔倒了，摔得可疼可疼了！”爸爸：“可疼可疼有多疼啊？”女儿楞了一秒后，忽然给爸爸甩了一个大嘴巴子，爸爸正想发火，谁知女儿瞪着大眼睛说：“爸爸，就这么疼，知道了吧？”</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="6943">
                            <a href="http://joke.m.duba.com/mjoke.html?id=6943&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">刚交女朋友时，以为女孩子的衣服都很贵，所以女朋友叫我陪她逛街总是被我用各种理由推辞，好不容易攒了两千块，拉着女朋友去逛街，得知一条裤子一件衣服才九十块，哥立即冲老板喊到“尼玛的，这么便宜，给我拿二十套”后来女朋友就和我分了，原因是我败家，我容易么我？</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="16987">
                            <a href="http://joke.m.duba.com/mjoke.html?id=16987&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">昨晚喝高了！早上起床老婆问：昨晚猫尿喝多了，睡得得的咋样？我：还行，还做了个美梦。老婆：啥美梦？我：梦见我们家到处都是奶头，激动啊！老婆：怪不得昨晚把我十个脚趾一个一个的亲了几遍。我不恋足啊！！！！</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="259422">
                            <a href="http://joke.m.duba.com/mjoke.html?id=259422&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">路边听到两个大学生对话。甲：“你女朋友呢？”乙：“去医院杀人去了。”甲：“杀什么人阿？”乙：“不知道，现在还没名字吧。”然后甲就狂笑，我就不知道他为什么笑的那么开心。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="21170">
                            <a href="http://joke.m.duba.com/mjoke.html?id=21170&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">小时候，谁的玩具多谁就有面子；上学，谁的分数高谁就有面子；工作了，谁的薪水高谁就有面子；结婚了，谁的零花钱多谁就有面子；老了，谁的孩子孝顺谁就有面子；人这一辈子为了面子得到了多少，又失去了多少。别把自己看得那么重，在别人眼里你没那么重要！</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="40865">
                            <a href="http://joke.m.duba.com/mjoke.html?id=40865&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">lz业务员一枚，每个月有一二十天去外省出差！一回家就分不清毛巾牙刷哪个是我的（家里有父母女朋友四人），每次回来老妈都问烦了，无耐老妈把我毛巾都剪个缺口，牙刷把儿丢在煤气灶上烧了一下，从此分清了。最烂的东西都是我的</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="313950">
                            <a href="http://joke.m.duba.com/mjoke.html?id=313950&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">韩国人和东北女生打雪仗的区别： 韩国人：欧巴 哈几马 ...然后欢声笑语 再看看东北的满耳都是嘶吼和呐喊：草泥马 敢偷袭老娘 丫丫的</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="223625">
                            <a href="http://joke.m.duba.com/mjoke.html?id=223625&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">二货青年决定向女神表白。 鼓起勇气把女神约到操场上，结果看到女神纯洁无瑕的面容，一时鼓起的勇气烟消云散，结结巴巴的说：“我。。我想。。对。。对你说，啊，嗯，好好学习！”女神噗嗤一笑，说：“你的意思不就是说天天想上吗？</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="16055">
                            <a href="http://joke.m.duba.com/mjoke.html?id=16055&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">一朋友父亲藏了一瓶好酒，突然有一天发现酒没了，遂破口大骂道：“哪个龟儿子偷喝老子的酒了！“这时候，朋友的爷爷淡淡的说了一句：“老子喝的，你这龟孙子不服气是吧？“</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="80336">
                            <a href="http://joke.m.duba.com/mjoke.html?id=80336&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">有一天去小卖部买东西，买完了，喊一声：大姐，结账。那大姐嗤嗤笑了，指了指一个二十多岁的美女说,我女儿那么大了，你该叫我什么呢？我看着她那美丽的女儿，脑抽的问了一句：大姐，那我叫你岳母可以么？。。。。。。。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="42966">
                            <a href="http://joke.m.duba.com/mjoke.html?id=42966&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">宿舍两姐们儿开玩笑，一个说自己是香港的，另一个就说：赶紧回你们香港去吧。“那你给我买火……”（后来想想觉得火车到不了），于是赶紧转调说：“机票”。于是到我们耳朵里，就是：那你给我买火鸡票。顿时我的脑海里是那姐们儿骑着火鸡努力奔向远方的情形。</p>
                            </a>
                        </li>
                        <li class="tab-cnt " id="75568">
                            <a href="http://joke.m.duba.com/mjoke.html?id=75568&amp;f=mobile" cid="14608363">
                                <h4 class="joke-ttl"></h4>
                                <p class="joke-text">有这样一个问题：如果你身上有个按钮，按一下就可以忘了以前的所有，你觉得按下会发生什么事！神人回复：咦！这里有个按钮，按一下……！这里有个按钮，按一下……！这里有个按钮，按一下……！这里有个按钮，按一下……！…………</p>
                            </a>
                        </li>
                    </ul> <ul class="v-dh"> <li><a href="http://m.mahua.com/" cid="14330939">快乐麻花</a></li> <li><a href="http://m.qiushibaike.com/" cid="14330940">糗事百科</a></li> <li><a href="http://joke.m.duba.com/" cid="14331043">笑到爆</a></li> <li><a href="http://m.budejie.com/" cid="14331155">不得姐</a></li> </ul>
                </div>
            </div>
            @*自己添加结束*@



            <div class="home_sec tools">
                <div class="tools_title">
                    <strong>常用工具</strong>
                </div> <ul class="logo_links icon_links clearfix">
                    <li><a href="http://huoche.tuniu.com" class="iclk_2" stat="82121">火车</a></li>
                    <li><a href="http://www.qiche100.cn/function/mobile/home/index.aspx?c=42&p=105" class="iclk_4" stat="82125">违章</a></li>

                    <li><a href="http://www.51wnl.com/calendar_lightapp/index.html" class="iclk_12" stat="82133">万年历</a></li>
                    <li><a href="http://www.kuaidi100.com/?from=openv" class="iclk_11" stat="82132">快递</a></li>
                    <li><a href="http://map.baidu.com/" class="iclk_5" stat="82126">地图</a></li>
                </ul>
            </div>
            @*<script type="text/javascript"> trace(173000, 1, '', '', 't:PV');</script>*@
        </div>
        <div id="footer">
            <p class="f_links">
                <a href="/Our/Our/ContactUs">意见反馈</a><em>|</em><a href="javascript:scroll(0,0)" stat="61251">返回顶部</a><em>|</em><a href="/Our/Our/ContactUs">商务合作</a><em>|</em>
            </p>
            <p class="copyright">our666版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备17035010号</p>
        </div>
    </div>
    <div id="cnzz_stat_icon_30083742" style="display: none;"></div>
    <div id="share_fn" class="city_fn">
        <a href="javascript:;" class="share_weibo"></a><a href="javascript:;" class="share_renren"></a>
    </div>
</body>
</html>
<script type="text/javascript">/*jack创建于 2017-06-26*/var cpro_id = "u1879755";</script>

