.lui_tree_warp li {
  list-style: none;
  /*展开折叠*/
  /*复选框*/
}
.lui_tree_warp li .icon_op {
  background: url('../img/treeico_op.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.lui_tree_warp li .open {
  background-position: -3px -15px;
}
.lui_tree_warp li .close {
  background-position: -3px -48px;
}
.lui_tree_warp li .icon_cehck {
  background: url('../img/checkico.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.lui_tree_warp li .check_sel {
  background-position: 0 0;
}
.lui_tree_warp li .check_def {
  background-position: 0 -77px;
}
